.container {
  display: flex;
  flex-direction: column;
  height: 160vh;

  .row {
    display: flex;
    justify-content: space-around;
    margin-bottom: 50px;

    .mo-dndItems {
      min-height: 200px;
      min-width: 150px;
      padding: 20px;
      border: 1px dashed gray;
    }
  }
}

.dndItem {
  border: 1px solid #c200ff;
  padding: 2px;
  margin-bottom: 5px;
}
