.wrapper {
  display: flex;
  justify-content: space-around;

  .left, .right {
    width: 200px;
  }
}

.mo-dndItems {
  border: 4px solid pink;
}

.mo-dndItem, .mo-dndDragItem {
  padding: 5px;
  border: 2px dashed violet;
}
