.dnd-ctx {
  .dnd-ctx-db {
    position: absolute;
    border: 5px dashed blue;
    padding: 10px;
    background-color: lightblue;
    color: white;
    width: 300px;
    min-height: 200px;
    bottom: 0px;
    right: 0px;
    overflow-y: scroll;
  }
}

.dnd-ctx-drg {
  cursor: grabbing;

  .dnd-drag {
    position: absolute;
    pointer-events: none;
  }
}
