body {
  margin: 0px;
  box-sizing: border-box;
}

.container {
  height: 100vh;
  background-color: pink;

  .dbWrapper {
    margin-top: 50px;
    margin-left: 10px;
    .db {
      margin: 0px;
    }
  }
}

.dndWrapper {
  display: flex;
  justify-content: space-around;
}

.dndItem {
  padding: 5px;
  border: 1px dashed gray;
}
